body {
    font-family: Helvetica;
    /*font-family: 'PT Mono';*/
    /*font-family: 'Source Code Pro';*/
    /*font-family: Georgia;*/
    line-height: 1.4em;
    font-size: 14px;
    overflow: hidden;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/*-----------------NAVIGATION BAR------------------*/
div#controllers {
    z-index: 99999999999999999999999;
    background: white;
}

nav#navigation-bar{
    position: fixed;
    z-index: 9999999999999;
    width: 100%;
    height: 30px;
    background: white;
}


nav#navigation-bar *{
    -webkit-user-select: none;
}

nav#navigation-bar input#location {
    width: 89%;
    padding: 5px;
    font-family: inherit;
    font-size: 0.9em;
    background-image: url('resources/media/transparent.png');
    background-color: transparent;
    border: none;
    outline: 0;
}

#navigation-bar-bottomLine {
    top: 26px;
    width: 100%;
    height: 100%;

    background: aqua;
    transition: opacity 1s;
}


#navigation-bar-bottomLine.hidden {
    opacity: 0.3;
}

#navigation-bar-wrapper{
    position: fixed;
    display: block;
    z-index: 99999;

    width: 100%;
    height: 4px;

    background: white;
    transition: height 0.3s;
}

nav#navigation-bar #logo {
    display: initial;
    float: left;
    cursor: pointer;
    height: 24px;
    width: 24px;
    margin-top: 3px;
    transition: opacity 1s, height 1s;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* menu*/
section#menu-content>* {
    display: inline-block;
}

button{
    padding: 5px;
    background: transparent;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.35);
    color: white;
    font-size: 0.8rem;
    letter-spacing: 0.1vw;
    font-weight: lighter;
}

button:hover{
    background: rgba(0,0,0,0.2);
}

#navigation-bar-wrapper.extended{
    height: 35px;
    text-align: center;
}

#navigation-bar-wrapper>#menu-content{
    display: none;
    position: absolute;
    top:0;
    padding: 5px;
    width: 100%;
}

div#navigation-bar-wrapper.extended>#menu-content{
    display: block;
}



/*-----------------SCROLL BAR------------------*/
::-webkit-scrollbar {
    width: 0px;
    transition: opacity 1s;
}

::-webkit-scrollbar-track {
    background:transparent;
}

::-webkit-scrollbar-thumb {
    background:gray;
}

::-webkit-scrollbar-thumb:hover {
    background:darkgray;
}

::-webkit-scrollbar-thumb:window-inactive {
    opacity: 0;
}




/*-----------------WEBVIEW|DEFAULTS------------------*/

div#webview {
    position: fixed;
    top: 26px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

section#v_home {
    position: absolute;

    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-77%);

    height: 400px;
    width: 400px;

    text-align: center;
}

----------------WEBVIEW|EDIT MODE | EDITOR MENU------------------*/
section.view-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    overflow: scroll;
}

.module-wrapper {
    position: absolute;
    overflow: auto
}

.modules-wrapper.hide{
    display: none;
}

.module-content-wrapper {
    max-height: 100%;
    overflow: auto;
    cursor: default;
}

.module-wrapper.draggable {
    cursor: move;
}

h1#result {
    font-size: 12em;
    line-height: 1em;
}

.gradientAnimate{
    -webkit-animation: AnimationName 2s ease infinite;
    animation: AnimationName 2s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

ul#suggestionList {
    position: absolute;
    top: 25px;
    width: 100%;
    height: 0;
    z-index: 999999999999;
    color: white;
    background: transparent;

    transition: height 500ms;
}

ul#suggestionList>li{
    cursor: default;
    padding-left: 29px;
    font-size: 0.9em;
    font-weight: lighter;
}

ul#suggestionList>li.selected{
    color: black;
}


div#re-menu-pages-wrapper {
    position: absolute;
    top: 61px;
    height: 0;
    padding-left: 32px;
    padding-right: 32px;
    color: white;
    font-weight: lighter;
    width: calc(100% - 64px);
    overflow: hidden;
    z-index: -1;
    transition: height 500ms;
}

div#re-menu-pages-wrapper.open {
    height: 100vh;
}

.re-menu-page {
    position: absolute;
    top: 1em;
    bottom: 2em;
    width: calc(100% - 64px);
    opacity: 0;
    transition: opacity 500ms;
}

.re-menu-page.selected{
    opacity: 1;
    z-index: 9999999999999999;
}

strong.re-menu-page-title {
    margin-bottom: 2em;
    display: block;
}

article.re-menu-page-content {
    max-width: 600px;
}

.re-menu-page-content p {
    margin-bottom: 1em;
}

ul.re-menu-page-content {
    list-style: none;
    max-height: 87%;
    /* width: 100%; */
    /* background: aqua; */
    /* display: flex; */
    position: relative;
    overflow: auto;
}

li.shortcut-wrapper {
    line-height: 2.6em;
}

span.shortcut-key {
    min-width: 48px;
    display: -webkit-inline-box;
}
.re-menu-page-content ul {
    list-style: none;
    padding-bottom: 1em;
    margin-bottom: 3em;
}

.re-menu-page-content ul>strong {
    margin-bottom: 1em;
    display: block;
}

.re-menu-page-content ul time {
    margin-right: 30px;
    /* float: left; */
    height: 100px;
}

.item-content-wrapper {
    display: inline-table;
}

.re-menu-page-content .itemTitle {
    max-width: 500px;
    margin-bottom: 0.5em;
    font-size: 4em;
    line-height: 1em;
    /* overflow: hidden; */
    display: -webkit-box;
}

.re-menu-page-content i {
    display: block;
}
.page-handlers {
    position: absolute;
    top: 1em;
    right: 0;
}
.re-menu-page-content {
    overflow: auto;
    display: block;
    height: 87%;
    padding-bottom: 10%;
}
.re-menu-page-content li.historyItem {
    margin-bottom: 7em;
}


.view-input-wrapper label {
    display: block;
}

.view-input-wrapper input,.view-input-wrapper textarea {
    height: 20px;
    padding-left: 4px;
    background: transparent;
    width: 98%;
    color: white;
    margin-left: 2px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.35);
}
.view-input-wrapper .menu-button{
    margin-left: 2px;
}

.view-input-wrapper {
    margin-bottom: 1em;
}

textarea {
    min-height: 60px;
    max-width: 98%;
    padding-top:4px;
}

.view-inputs-wrapper {
    width: 49%;
    /* display: inline-block; */
    float: left;
}

.iconImage {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    float: left;
}

p.iconContent {
    width: 60%;
    position: absolute;
    left: 130px;
    top: 22px;
}

.moduleIcon {
    width: 100%;
    height: 135px;
    position: relative;
    cursor: default;
}

.moduleIcon:hover{
    opacity: 0.5;
}

p.iconContent>* {
    display: block;
}

div#module-gallery {
    height: 100%;
    overflow: auto;
    max-width: 400px;
}

video#video {
    position: fixed;
    z-index: 999999999999999999999999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

video#video.show{
    display: block;
}

.module-content-wrapper.error{
    display: none !important;
}

.view-wrapper .unable-view{
    width: 450px;
    transform: translate(-50%);
    top: 46%;
    position: absolute;
    left: 50%;
    display: none;
}

.view-wrapper .unable-view.show{
    display: block !important;
}
