body {
    /*font-family: monospace;*/
    /*font-family: 'PT Mono';*/
    font-family: 'Source Code Pro';
    line-height: 1.4em;
    font-size: 14px;
    overflow: hidden;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/*-----------------NAVIGATION BAR------------------*/
nav#navigation-bar{
    position: fixed;
    z-index: 9999999999999;
    width: 100%;
    height: 30px;
    background: white;
}

nav#navigation-bar *{
    -webkit-user-select: none;
}

nav#navigation-bar input#location {
    width: 89%;
    padding: 5px;
    font-family: inherit;
    font-size: 0.9em;
    background-image: url('resources/media/transparent.png');
    background-color: transparent;
    border: none;
    outline: 0;
}

#navigation-bar-bottomLine {
    top: 26px;
    width: 100%;
    height: 100%;

    background: aqua;
    transition: opacity 1s;
}


#navigation-bar-bottomLine.hidden {
    opacity: 0.3;
}

#navigation-bar-wrapper{
    position: fixed;
    display: block;
    z-index: 99999;

    width: 100%;
    height: 4px;

    background: white;
    transition: height 0.3s;
}

nav#navigation-bar #logo {
    display: initial;
    float: left;
    cursor: pointer;
    height: 24px;
    width: 24px;
    margin-top: 3px;
    transition: opacity 1s, height 1s;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* menu*/
section#menu-content>* {
    display: inline-block;
}

button.menu-button {
    padding: 5px;
    background: transparent;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.35);
    color: white;
    /*width: calc(20% - 10px);*/
}

button.menu-button:hover{
    background: rgba(0,0,0,0.2);
}

div#navigation-bar-wrapper * {
    font-family: helvetica !important;
    font-size: 1.1vw;
    letter-spacing: 0.1vw;
    font-weight: lighter;
}
#navigation-bar-wrapper.extended{
    height: 35px;
    text-align: center;
}

#navigation-bar-wrapper>#menu-content{
    display: none;
    position: absolute;
    top:0;
    padding: 5px;
    width: 100%;
}

div#navigation-bar-wrapper.extended>#menu-content{
    display: block;
}



/*-----------------SCROLL BAR------------------*/
::-webkit-scrollbar {
    width: 0px;
    transition: opacity 1s;
}

::-webkit-scrollbar-track {
    background:transparent;
}

::-webkit-scrollbar-thumb {
    background:gray;
}

::-webkit-scrollbar-thumb:hover {
    background:darkgray;
}

::-webkit-scrollbar-thumb:window-inactive {
    opacity: 0;
}




/*-----------------WEBVIEW|DEFAULTS------------------*/

div#webview {
    position: fixed;
    top: 26px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#webview.disable{
    opacity: 0.3;
    pointer-events: none;
    -webkit-user-select: none;
}

#webview.disable * {
    pointer-events: none;
    -webkit-user-select: none;
}

section#v_home {
    position: absolute;

    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-77%);

    height: 400px;
    width: 400px;

    text-align: center;
}

----------------WEBVIEW|EDIT MODE | EDITOR MENU------------------*/
section.view-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    overflow: scroll;
}

.module-wrapper.resizable {
    position: absolute;
    overflow: auto
}

.module-content-wrapper {
    max-height: 100%;
    overflow: auto;
    cursor: default;
}

.module-wrapper.draggable {
    cursor: move;
}

h1#result {
    font-size: 12em;
    line-height: 1em;
}

