
#v_wikipedia_reader  *{
    font-family: "Georgia";
    font-weight: normal;
    margin: 0;
}

#v_wikipedia_reader {
    font-size: 10pt;
}

#v_wikipedia_reader .hide{
    display: none;
}

#v_wikipedia_reader a{
    color: rgba(0,0,0,0.5);
}

#v_wikipedia_reader span.closeHandler {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    margin: 5px;
    display: block;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

/*TYPOGRAPHY*/
#v_wikipedia_reader #cm_wiki_maintext{
    width: 70%;
    max-width: 600px;
    font-size: 14px;
    line-height: 1.4em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12pt;
    position: relative;
}

#v_wikipedia_reader #cm_wiki_maintext p{
    text-indent: 36pt;
}

#v_wikipedia_reader #cm_wiki_maintext .chapter {
    margin-bottom: 2em;
    display: block;
}

#v_wikipedia_reader #cm_wiki_maintext .mw-headline {
    /* margin-bottom: 1em; */
    display: block;
}

div#cm_wiki_maintext a{
    font-style: normal;
    text-decoration: none;
    color: rgba(0,0,0,0.5);
}

#v_wikipedia_reader #cm_wiki_maintext p.longtext {
    margin-bottom: 1em;
}

#v_wikipedia_reader #cm_wiki_maintext h2 {
    font-size: 18pt;
    text-indent: 36pt;
    line-height: 1.15;
}

#v_wikipedia_reader #cm_wiki_maintext .chapter>p:nth-child(2), div#cm_wiki_maintext blockquote{
    font-size: 20px;
    margin-left: 36pt;
    font-style: italic;
    line-height: 1.4em;
}

#v_wikipedia_reader #cm_wiki_maintext ul{
    margin-left: 36pt;
}
#v_wikipedia_reader #cm_wiki_maintext table{
    margin: auto;
}

#v_wikipedia_reader #cm_wiki_maintext ul, div#cm_wiki_maintext table,div#cm_wiki_maintext pre{
    background: lightgoldenrodyellow;
    margin-bottom: 2em;
}

#v_wikipedia_reader #cm_wiki_maintext ul,div#cm_wiki_maintext ul *, div#cm_wiki_maintext pre, div#cm_wiki_maintext pre *{
    font-family: sans-serif;
    font-size: 12px;
    list-style: none;
    text-align: left;

}

#v_wikipedia_reader #cm_wiki_maintext a, div#cm_wiki_maintext sup,div#cm_wiki_maintext i {
    margin: 0;
    padding: 0;
}

#v_wikipedia_reader #cm_wiki_maintext li:before {content: "- ";}

#v_wikipedia_reader #cm_wiki_maintext h3,div#cm_wiki_maintext h4 {
    font-size: 14px;
    font-weight: bolder;
}

#v_wikipedia_reader #cm_wiki_maintext table * {
    font-size: 10px;
}

#v_wikipedia_reader #cm_wiki_maintext th,div#cm_wiki_maintext th * {
    font-weight: bold;
    font-size: 7pt !important;
    vertical-align: initial;
}

#v_wikipedia_reader #cm_wiki_maintext td {
    vertical-align: initial;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}


#v_wikipedia_reader #cm_wiki_notes_references {
    position: fixed;
    width: 70%;

    height: 80px;
    z-index: 999999999;
    bottom: -130px;

    background: white;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);

    left: 50%;
    transform: translateX(-50%);
    padding: 20px;

    transition: bottom 500ms;

    overflow: scroll;
}

#v_wikipedia_reader #cm_wiki_notes_references.show{
    bottom: 0px;
}

#v_wikipedia_reader #cm_wiki_notes_references * {
    font-family: sans-serif;
    font-size: 12px;
}

#v_wikipedia_reader #cm_wiki_maintext .highlightText{
    /*color: blue !important;*/
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: rgba(0,0,0,0.4) !important;
    background: linear-gradient(to right, rgba(200, 160, 200,0.5), rgba(240, 220, 100,0.7));
}

#v_wikipedia_reader #cm_wiki_maintext .module-content-wrapper{
    overflow-x: hidden;
}

#v_wikipedia_reader #cm_wiki_maintext sup{
    width: 1px;
    height: 1px;
    visibility: hidden;
    position: initial;
    display: inline-flex;
    opacity: 1;
}

#v_wikipedia_reader #cm_wiki_maintext>#sidebar {
    top: 0;
    text-align: right;
    font-size: 10px;
    line-height: 1em;
    position: absolute;
}

#v_wikipedia_reader #cm_wiki_maintext>#sidebar>* {
    position: absolute;
    /*right: 36px;*/
}

#v_wikipedia_reader #cm_wiki_maintext .refHandler-wrapper>a.formatted.reflink {
    display: -webkit-box;
}#v_wikipedia_reader #cm_wiki_maintext .textnode.longtext{font-family:arial;}#v_wikipedia_reader #cm_wiki_maintext span{letter-spacing:12px;line-height:31px;font-weight:bold;text-decoration:underline;text-transform:uppercase;}