section#v_default_view .module-wrapper {
    width: 50%;
    height: 100%;
    position: fixed;
    overflow: auto;
}

section#v_default_view .module-wrapper:first-child {
    box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,1);
}

section#v_default_view .module-wrapper:last-child {
    left: 50%;
}

div#cm_1464123763713 img {
    width: 100%;
    display: block;
}

section#v_default_view * {
    font-family: georgia;
}


/*TYPOGRAPHY*/
div#cm_1464123928083{
    font-size: 14px;
    line-height: 1.4em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12pt;
    position: relative;
}


div#cm_1464123928083 p,div#cm_1464123928083 h4, div#cm_1464123928083 h3, div#cm_1464123928083 h2, div#cm_1464123928083 h1{
    margin-left: 36pt;
}

div#cm_1464123928083 p.longtext{
    text-indent: 36pt;
}

div#cm_1464123928083 p.longtext{
    margin-bottom: 2em;
    display: block;
}

div#cm_1464123928083 a{
    font-style: normal;
    text-decoration: none;
    color: rgba(0,0,0,0.5);
}

div#cm_1464123928083 longtext {
    margin-bottom: 1em;
}

div#cm_1464123928083 h2 {
    font-size: 18pt;
    line-height: 1.15;
}

div#cm_1464123928083 .chapter>p:nth-child(2), div#cm_1464123928083 blockquote{
    font-size: 20px;
    margin-left: 36pt;
    font-style: italic;
    line-height: 1.4em;
}
