.editor-menu *{
    font-family: Helvetica !important;
    color: white;
    font-weight: lighter;
    font-size: 1em;
}

.hide{
    display: none !important;
}

/*general*/
.editor-menu {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0px;
    padding: 4px;
    transition: top 500ms cubic-bezier(0.000, 0.595, 0.520, 0.885);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.35);

}

.editor-menu.extended{
    top: 61px;
}

.action-controllers {
    position: absolute;
    top: 4px;
    right: 14px;
}

.menu-page{
    /*display: none;*/
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms;
    text-align: center;
}

.menu-page.selected{
    /*display: block;*/
    max-height: 100px;
}

div#controllers-wrapper {
    /* margin-top: 1em; */
}

.moduleIcon {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 4px;
}

.iconImage {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%
}

.label{
    box-shadow: 0px 0px 2px 0px rgba(255,255,255,0.35);
    padding: 4px;
}

.editor-menu label{
    font-family: FontAwesome !important;
}


/*content page*/
div#menu-page-content>* {
    display: inline-block;
}
.modules-gallery-wrapper{
    line-height: 28px;
}

.modules-gallery-wrapper#active {
    margin-right: 20px;
}


/*Design page*/
.toolbox{
     max-height: 0;
     overflow: hidden;
     transition: max-height 300ms;
}

.toolbox.open{
    max-height: 500px;
}

/*tools and forms and input*/
.toolbox>* {
    display: -webkit-inline-box;
}

.editor-menu input[type=number] {
    max-width: 40px;
    height: 18px;
}

.editor-menu input,.editor-menu select {
    max-width: 160px;
    padding-left: 4px;
    outline: none;
    box-shadow: 0px 0px 1px 0px rgba(44,44,44,1);
    background: transparent;
    margin: 0;
}

.design-prop-wrapper {/* margin-right: 4px; */height: 37px;padding: 4px;}

.editor-menu input[type="checkbox"] {
    display: none;
}

.css-query-selector {
    font-size: 0.7em !important;
}

.css-query-selector.ignore{
    text-decoration: line-through;
}

.design-controller-wrapper.selected-element {
    display: block;
    margin-bottom: 1em;
    text-align: center;
}


.design-controller-labels-wrapper {
    margin-bottom: 1em;
}

div#selector {
    display: inline-block;
}

div#presets-wrapper {margin-bottom: 1em;}


/*canvas*/
.module-wrapper[selector="editable"]{

}

.module-wrapper[selector="editable"] .module-content-wrapper *{
    cursor: default !important;
}

.module-wrapper[selector="editable"] .module-content-wrapper *:hover{
}
.module-wrapper *{
    opacity: 1;
}

.module-wrapper *[selector="highlighted"] {
    opacity: 0.5;
}

.module-wrapper[selector="editable selected"]{
}

.resizer {
}