#v_homepage p#welcomenot {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.view-wrapper {
    width: 100%;
    height: 100%;
}

#v_homepage #cm_re_homepage {
    top: 40%;
    width: 100%;
    height: 10%;
}
